<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
              
              <form class="forms-sample" autocomplete="off">
                <div class="form-group row">
                  <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Declanation (Dec)</label>
                  <div class="col-sm-9">
                    <input type="text" name="withoutNameAttributeYouGetAnError" class="form-control" id="declanationInput" [(ngModel)]="declanationAngle" placeholder="Declanation Angle">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Latitude (Lat)</label>
                  <div class="col-sm-9">
                    <input type="text" name="withoutNameAttributeYouGetAnError1" class="form-control" id="declanationInput" [(ngModel)]="latitudeAngle" placeholder="Declanation Angle">
                  </div>
                </div>
                <button type="button" class="btn btn-secondary btn-fw" (click)="onCaclulateClick()">Calculate</button>
                <div class="form-group row"></div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Sin Dec</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Sin D" value="{{sinDec}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Cos Lat</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Sin D" value="{{cosLat}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Sin Amplitude = Sin Dec/Cos Lat</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Sin D" value="{{sinDec/cosLat}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Max Amplitude</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Sin D" value="{{maxAmplitude}}">
                  </div>
                </div>
                <div class="row">
                <div class="col-md-4">
                <div>Summer</div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Rise</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Sin D" value="{{summerRise}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Set</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Sin D" value="{{summerSet}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Arc</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Sin D" value="{{summerArc}}">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div>Winter</div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Rise</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Sin D" value="{{winterRise}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Set</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Sin D" value="{{winterSet}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Arc</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Sin D" value="{{winterArc}}">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div>&nbsp;</div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Diff</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Sin D" value="{{riseDiff}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Diff</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Sin D" value="{{setDiff}}">
                  </div>
                </div>
              </div>
              </div>
              </form>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                Row 1
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                Row 1
            </div>
        </div>
    </div>
</div>