<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
              
              <form class="forms-sample" autocomplete="off">
                <div class="form-group row">
                  <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Declanation (D)</label>
                  <div class="col-sm-9">
                    <input type="text" name="withoutNameAttributeYouGetAnError" class="form-control" id="declanationInput" [(ngModel)]="declanationAngle" placeholder="Declanation Angle">
                  </div>
                </div>
                <button type="button" class="btn btn-secondary btn-fw" (click)="onCaclulateClick()">Calculate</button>
                <div class="form-group row"></div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Sin D</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Sin D" value="{{sinD}}">
                  </div>
                </div>
                
              </form>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                Row 1
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                Row 1
            </div>
        </div>
    </div>
</div>